footer.footer
	.upFooter
		.container.container_upFooter
			+partnersLogo(partners)
	.middleFooter.clearfix
		.container
			.middleFooter__about.middleFooter_item
				a.middleFooter__about__link(href='#')
					img.middleFooter__about__logo(src='images/logo.svg')
					span.middleFooter__about__nameCompany Waxom
				.middleFooter__about__textAbout Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
				.middleFooter__about__readMore Read More
			.middleFooter__posts.middleFooter_item
				.middleFooter__posts__head Recent Posts
				.middleFooter__posts__item
					.middleFooter__posts__date September 08, 2015
					.middleFooter__posts__massage Lorem ipsum dolor sit amet, consectetuer adipiscing elit
				.middleFooter__posts__item.middleFooter__posts__item_active
					.middleFooter__posts__date September 08, 2015
					.middleFooter__posts__massage Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				.middleFooter__posts__item
					.middleFooter__posts__date September 08, 2015
					.middleFooter__posts__massage Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
			.middleFooter__tw.middleFooter_item
				.middleFooter__tw__head Our Twitter
				.middleFooter__tw__item 
					.middleFooter__tw__massage 
						span.middleFooter__tw__hesh @waxom 
						| Cum soluta nobis eleifend option congue nihil imperdiet doming
					.middleFooter__tw__ago 3 mins ago
				.middleFooter__tw__item 
					.middleFooter__tw__massage Mirum est 
						span.middleFooter__tw__hesh #envato 
						| notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
					.middleFooter__tw__ago 5 hours ago
				.middleFooter__tw__item 
					.middleFooter__tw__massage Soluta nobis option 
						span.middleFooter__tw__span bit.ly/1Hniso7
					.middleFooter__tw__ago 20 days ago
			.middleFooter__widget.middleFooter_item
				+dribbbleWidget(widget)

	.downFooter
		.container
			ul.downFooter__copyright
				li.downFooter__copyright__item
					a.downFooter__copyright__link(href='copyright.html') Copyright © 2015 
						span.downFooter__copyright__nameCompany Waxom
				li.downFooter__copyright__item
					a.downFooter__copyright__link(href='privacy.html') Privacy Policy
				li.downFooter__copyright__item
					a.downFooter__copyright__link(href='privacy.html') FAQ
				li.downFooter__copyright__item
					a.downFooter__copyright__link(href='privacy.html') Support
			ul.downFooter__designed
				li.downFooter__designed__item
					a.downFooter__designed__link(href='privacy.html') Only on 
						span.downFooter__designed__market Envato Market
				li.downFooter__designed__item
					a.downFooter__designed__link(href='privacy.html') Designed by 
						span.downFooter__designed__themefire ThemeFire
