header.header
	.slider
		.slider__arrow.slider__arrow_left
		.slider__arrow.slider__arrow_right
		.slider__points
			.slider__point
			.slider__point.slider__point_active
			.slider__point
			.slider__point
			.slider__point
		.slider__item
			.slider__bkg.slider__bkg_1
				.slider__overhead Unique and Modern Design
				h2.slider__head Portfolio PSD Template
				.slider__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
				button.slider__button.button GET STARTED
	nav.nav
		.container
			a.header__logo__link(href='#home')
				.header__logo
					.header__logo__blockImage
						img.header__logo__img(src='images/logo.svg' title='Логотип' alt='Логотип')
					.header__logo__text Waxom
			.menu__icons
				.menu__icon.menu__icon_search
				.menu__icon.menu__icon_bag
			+menu('about')



