.latestProjects
	.container.container_items
		h2.latestProjects__head.head Our Latest Projects.
		.latestProjects__text.textUnderHead Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
		+chooser(chooserItems, 'all')
		+project(projectItems)
		.latestProjects__button.button LOAD MORE

