.mobile
	.container
		.mobile__blockImg
			img.mobile__img(src="images/iPhoneInHand.jpg" title="Phone" alt="Phone")
		.mobile__info
			.mobile__head.head Excellent for Mobile Devices.
			.mobile__text.textUnderHead Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
			ul.mobile__items
				li.mobile__item Nam liber tempor cum soluta nobis eleifend option;
				li.mobile__item Option congue nihil imperdiet doming id quod mazim placerat facer;
				li.mobile__item Eodem modo typi, qui nunc nobis videntur parum futurum;
				li.mobile__item Investigationes demonstraverunt lectores
footer.mobile__footer
	.container.container_mobile
		+advantages(advantagesItems, forIdCounter)


