.posts
	.container.container_items
		.posts__head.head Recent Posts.
		.posts__text.textUnderHead Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
		+postItems(itemsForPosts)
		.posts__arrows
			.posts__arrow.posts__arrows__left
			.posts__arrow.posts__arrows__right