.realization
	.container
		h2.realization__head.head Waxom is Realization of your Ideas.
		.realization__text.textUnderHead Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
		.realization__blockImages
			.realization__blockImg.realization__blockImg_left
				img.realization__img.realization__img_left(src="images/browser-left.jpg" title="Пример работ" alt="Пример работ")
			.realization__blockImg.realization__blockImg_right
				img.realization__img.realization__img_right(src="images/browser-right.jpg" title="Пример работ" alt="Пример работ")
			.realization__blockImg.realization__blockImg_center
				img.realization__img.realization__img_center(src="images/browser-center.jpg" title="Пример работ" alt="Пример работ")
.realization__footer
	.container
		.realization__blockText
			h3.realization__footer__head 
				span.realization__footer__first Waxom 
				| Multipurpose WordPress Theme
			.realization__footer__text Don't Forget to Rate the Template. Thanks so much!
		button.realization__button.button PURCHASE NOW